body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.menu {
  position: absolute;
  bottom: 100%;
  display: flex;
  justify-content: space-around;
  width: 100px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.button-wrap {
  display: flex;
  justify-content: center;
  position: relative;
}

.button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: none;
  border: none;
  outline: none;
}
